// Index

@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,300,400,500,700,900|Rubik:300,400,700');

// font-family: 'Teko', sans-serif;
// font-family: 'Work Sans', sans-serif;
// font-family: 'Josefin Slab', serif;

// <header>

html, body {
	width: 100%;
	height: 100%;
}

$meta-padding: 36px;

section.body {
	border: 16px solid white;
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	color: white;
	z-index: 9;
	height: 100%;
}

	.brand {
		/* XUE LIANG: */
		font-family: Rubik-Regular;
		font-size: 44px;
		color: #FFFFFF;
		letter-spacing: 1px;
		// text-transform: uppercase;
		padding: $meta-padding;
		padding-bottom: 20px;
		  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
	}

	.site-nav, .social-nav {
		display: inline-block;
	}

	.site-nav {
		padding: 0 $meta-padding;
		a {
			padding: 4px 0px;
			display: block;
			text-transform: uppercase;
			/* COLLECTION: */
			font-family: Rubik-Regular;
			font-size: 15px;
			letter-spacing: 2px;
			color: #FFF;
			  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
		}
	}

	// TODO: Make nav gradient work when mouse enters left third
	.nav-gradient {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 400px;
		z-index: -1;
		opacity: 0;
		transition: 0.2;
		background-image: linear-gradient(90deg, rgba(0,0,0,0.40) 0%, rgba(0,0,0,0.00) 97%);
	}

// .content

.slider-content {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	background-color: black;
	z-index: 1;
	cursor: pointer;
}

.slider-inner {
	height: 100%;
	position: relative;
	// transition: 0.2s;
}

.slider-info {
	z-index: 9;
	bottom: 0;
	left: 0;
	position: absolute;
	color: #FFF;
	font-family: monospace;
	font-size: 14px;
	padding: $meta-padding;
	text-transform: uppercase;
	font-family: 'Work Sans', sans-serif;
	  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
	h2 {
		font-size: 22px;
		padding-bottom: 2px;
		letter-spacing: 2px;
		font-weight: 300;
	}
	p {
		font-size: 16px;
		opacity: 0.5;
	}
}

.slide {
	height: 100%;
	position: relative;
	float: left;
	overflow: hidden;
}

.background-video, .background-image {
	position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  overflow: hidden;
}

// Work Nav Wrapper

.work-nav-wrapper {
	display: none;
	opacity: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.92);
	z-index: 7;
	overflow-y: scroll;
	&.active {
		display: block;
		opacity: 1;
	}
}

ul.work-nav {
	width:600px;
	position: absolute;
	top: 0;
	left: 200px;
	& > li {
		position: relative;
		height: 280px;
		width:600px;
		display: block;
		overflow: hidden;
	}
	& > li:nth-child(2n) {
		background-color: #333;
	}
}

.work-nav li {
	transition: 0.2s;
	&:hover .overlay {
		opacity: 0.60;
		transition: 0.2s;
	}
}

.work-nav li a {
	display: block;
	width: 100%;
	height: 100%;
}

.work-nav li .inner {
	position: absolute;
	top: 0;
	bottom:0;
	left: 0;
	right: 0;
	z-index: 3;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Work Sans', sans-serif;
	h3 {
		font-size: 32px;
		letter-spacing: 20px;
		text-transform: uppercase;
		font-weight: 300;
		color: white;
		text-align: center;
		padding-bottom: 4px;
	}
	p {
		font-size: 16px;
		opacity: 0.5;
		text-align: center;
		color: rgba(255,255,255,0.8);
	}
}

.work-nav li .overlay {
	transition: 0.2s;
	position: absolute;
	top: 0;
	bottom:0;
	left: 0;
	right: 0;
	opacity: 0.20;
	background-color: black;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Work Sans', sans-serif;
}

.work-nav img {
	position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  overflow: hidden;
  z-index: 1;
}

.temp-overlay {
	cursor: pointer;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	z-index: 8;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0,0,0,0.4);
	h4 {
		font-size: 32px;
		letter-spacing: 20px;
		text-transform: uppercase;
		font-weight: 300;
		color: white;
		text-align: center;
		padding-bottom: 4px;
		  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
	}
}