<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <link rel="stylesheet" href="css/screen.css">
</head>
<body>
	<section class="work-nav-wrapper">
		<ul class="work-nav">
			{% for page in site.pages %}
				{% if page.type == 'work' %}
					<li>
						<div class="overlay"></div>
						<div class="inner">
							<div class="center">
								<h3 class="work-nav-title">{{ page.title }}</h3>
							</div>
						</div>
						<img src="assets/img/{{ page.thumbnail_url }}" alt="{{ page.title }} - Xue Liang">
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</section>
	<section class="body">
		<div class="temp-overlay"></div>
		<header>
			<div class="brand nav-color">
				<a href="{{ "/" | relative_url }}">Xue Liang</a>
			</div>
			<nav class="site-nav">
				<a class="nav-color" href="https://www.instagram.com/xliangdesign/" id="about">Instagram</a>
				<a class="nav-color" href="mailto:xliangdesign+inquiries@gmail.com">Rental Inquiries</a>
				<a class="nav-color" href="mailto:xliangdesign@gmail.com">Contact</a>

			</nav>
			<!-- <div class="nav-gradient"></div> -->
		</header>
		<div class="slider-info nav-color">
	  	<h2 id="slider-title">Coming Soon</h2>
	  </div>
	  <section class="slider-content" id="slider">
	  	<div class="slider-inner">
		  		<div class="slide slide-1 light active" data-title=
			  	"Coming Soon">
			  		<img src="assets/img/coming-soon.jpg" alt="Coming Soon - Xue Liang" class="background-image">
			  	</div>
	  	</div>
		</section>
  </section>
  <footer></footer>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
  <script src="js/scripts.js"></script>
</body>
</html>